* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: $font-global;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $color-buttons-distinction-and-screenheader;
}

//global classes

.container {
  width: 1100px;
  height: 100%;
}


//we can use this classes and html structure in many places in app
.app-workspace__header {
  padding: 2rem;

  &__head {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $color-text-in-tables;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }

  &__title {
    color: $color-buttons-distinction-and-screenheader;
    font-size: 1.7142rem;
    font-weight: $font-weight-semibold;
    //made it bit heavier as it looks more like this in mockups
  }
}


// ICONS & BUTTONS

.btn {
  background: $color-buttons-distinction-and-screenheader;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

//changed name and moved it to base
.green_plus_icon {
  width: 30px;
  height: 10px;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &:before {
    content: '\f0fe';
    color: $color-success-messages;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    font-size: 2rem;
  }
}

//moved to base.scss
.action_icon {
  width: 50%;
  height: 10px;
  margin-left: 10px;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-regular);
    font-size: 2rem;
  }
}

//moved to base.scss

.edit_icon::before {
  content: '\f044';
  color: $color-warning-messages;
}

//moved to base.scss

.delete_icon::before {
  content: '\f2ed';
  color: $color-trashbin-icon;
}

