$color-side-panel-nav: #5B605F;
$color-header-and-text-in-columns: #4a4a49;
$color-buttons-distinction-and-screenheader: #FF6600;
$color-screen-background: #FFFFFA;
$color-info-messages: #3498DB;
$color-warning-messages: #FFB03B;
$color-success-messages: #468966;
$color-trashbin-icon: #BD4932;
$color-text-in-tables: #A1A194;
$color-text-default: #000;


//i have also created our color palette that you can check here:
//https://coolors.co/5b605f-4a4a49-ff6600-fffffa-3498db-ffb03b-468966-bd4932-a1a194




