
.carousel {
  position: relative;
  height: 400px;
  overflow-x: hidden;
  &__viewport {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  &__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    background-color: $color-screen-background;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $color-text-default;
    h2 {
      font-size: 2.85rem;
    }
    p {
      font-size: 1.42rem;
    }
  }
  &:before,
  &:after,
  &__prev,
  &__next {
    position: absolute;
    top: 0;
    margin-top: 200px;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    //border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  &:before,
  &__prev {
    left: 15rem;
  }
  &:after,
  &__next {
    right: 15rem;
  }
  &:before,
  &:after {
    content: '';
    z-index: 1;
    //background-color: red;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  &:before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='000000'/%3E%3C/svg%3E");
  }
  &:after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='000000'/%3E%3C/svg%3E");
  }
}
