.app {
  &-workspace__container {
    background: $color-screen-background;
    border: 1px dashed $color-text-default;
    width: calc(100vw - 355px);
    height: calc(100vh - 140px);
    position: absolute;
    top: 110px;
    left: 295px;
  }
  &-main__workspace{
    background: none;
    border: none;
  }
  &-background {
    background-image: url("../images/background.png");
  }
}